.navigation_bar
{
    width: 100%;
    /* position: fixed; */
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: #fff;
}

.logo
{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    color: #3F3D56;
}

.logo::after
{
    content: '';
    position: absolute;
    width: 40%;
    bottom: -20px;
    border-bottom: 4px solid #4D61FC;
    left: 2px;
}

.nav_links
{
    display: flex;
    flex-direction: row;
}

.nav_link
{
    margin-left: 20px;
    position: relative;
}

.nav_link a
{
    color: #3F3D56;
    text-decoration: none;
}

.nav_link.selected::after
{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -20px;
    border-bottom: 4px solid #4D61FC;
    left: 2px;
}